body {
  display: flex;
  flex-direction: column;
  height:100vh;
  background: linear-gradient(#9CF 0%, #069 69%, #036 100%);
}

a, a:link, a:visited, a:hover, a:active {
  color: black;
}

header {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#helloworld {
  padding: 0px 48px;
  font-family: Noto Sans Mono;
  font-size: 48px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

img {
  border-radius: 50%;
}

header .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header .links a {
  padding: 8px;
}

footer .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer .links a {
  padding: 4px;
}
